# Prevenção de listagem de diretório
Options -Indexes

# Personalizar a página de erro
ErrorDocument 404 /pages/pagina-erro404.html

# Ativar reescrita de URL
RewriteEngine On

# Redirecionar de www para não-www
RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
RewriteRule ^ http://%1%{REQUEST_URI} [L,R=301]

# Redirecionar HTTP para HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Redirecionar todas as solicitações para o arquivo index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L,QSA]

# Prevenir o acesso direto a arquivos específicos
<FilesMatch "\.(htaccess|htpasswd|ini|phps|fla|psd|log|sh)$">
 Order Allow,Deny
 Deny from all
</FilesMatch>

# Definir o cabeçalho X-Frame-Options para prevenir clickjacking
Header set X-Frame-Options "DENY"

# Definir o cabeçalho X-Content-Type-Options para prevenir ataques baseados em MIME-type sniffing
Header set X-Content-Type-Options "nosniff"

# Habilitar a compressão de conteúdo
<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/plain
  AddOutputFilterByType DEFLATE text/html
  AddOutputFilterByType DEFLATE text/xml
  AddOutputFilterByType DEFLATE text/css
  AddOutputFilterByType DEFLATE application/xml
  AddOutputFilterByType DEFLATE application/xhtml+xml
  AddOutputFilterByType DEFLATE application/rss+xml
  AddOutputFilterByType DEFLATE application/javascript
  AddOutputFilterByType DEFLATE application/x-javascript
</IfModule>