.header, .footer { background-color: #000; color: #fff; }
.navbar-custom { background-color: #000000; }
.navbar-custom, .navbar-custom a.nav-link { color: #fff; }
.navbar-custom a { color: #fff; }

.navbar-custom a:hover, .btn-principal:hover { color: #d97b9c; }
.navbar-custom a:hover, .btn-action:hover { color: #41bb37; }
.navbar-custom a:hover, .btn-secondary:hover { color: #000000; }

.btn-principal { background-color: #d97b9c; color: #fff; border: none; padding: 10px 20px; }
.btn-action { background-color: #41bb37; color: #fff; border: none; padding: 10px 20px; }
.btn-secondary { background-color: #000000; color: #fff; border: none; padding: 10px 20px; }

.card { flex: 0 0 100%; max-width: 100%; box-shadow: 0 4px 8px rgba(0,0,0,0.1); }
.card-body { height: auto; display: flex; flex-direction: column; justify-content: center; padding: 20px; }
.gallery-img { padding: 5px; }
img { width: 100%; height: auto; }
.testimonial, .faq { background-color: #f8f9fa; padding: 5px; margin-bottom: 20px; border-radius: 5px; }
.faq-question { font-weight: bold; }
.nav-active {
    background-color: #d97b9c;
    border-radius: 5px;
    padding: 5px 10px;
}

body {
    line-height: 1.6;
    color: #333;
    background-color: #f8f8f8;
    transition: background-color 0.5s ease;
    font-family: 'Arial', sans-serif;
    height: 100%;
    margin: 0;
}

h2, h3 {
    color: #d97b9c;
}

a {
    color: #d97b9c;
    text-decoration: none;
}
h5 {
    color: #d97b9c;
    font-size: 24px;
    margin-bottom: 20px;
}

a:hover {
    text-decoration: underline;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.container-fluid {
    padding: 5px;
}


.faq {
    margin-bottom: 5px;
}
.faq-question {
    font-weight: bold;
    color: #d97b9c;
    margin-bottom: 10px;
    cursor: pointer;
}
.faq-answer {
    display: none;
    margin-left: 20px;
}
.faq-question:hover {
    text-decoration: underline;
}
@media (max-width: 600px) {
    .container {
        padding: 15px;
    }
    h5 {
        font-size: 20px;
    }
}
@font-face {
    font-family: 'Gabriola';
    src: url('https://fonts.cdnfonts.com/s/12303/Gabriola.woff') format('woff');
}
/*------*/

.footer-container a:hover {
    text-decoration: underline;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

a:hover {
    text-decoration: none;
    transition: color 0.3s ease;
}

.btn {
    position: relative;
    overflow: hidden;
    /*transition: background-color 0.3s ease, color 0.3s ease;*/
}

.btn:active {
    transform: scale(0.95);
}

.btn:active::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(255, 182, 193, 0.8) 10%, transparent 10.01%);
    background-size: 10% 10%;
    transform: translate(-50%, -50%) scale(1);
    animation: fireworks 0.4s forwards;
    z-index: -1;
}

@keyframes fireworks {
    to {
        transform: translate(-50%, -50%) scale(0);
        opacity: 0;
    }
}

.card-custom:hover {
    transform: translateY(-5px);
    transition: all 0.3s ease;
}

/* Efeito de Sombra nos Cards */
.card-custom {
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin-bottom: 20px; /* Espaçamento entre os cards */
    transition: transform 0.3s ease-in-out; /* Transição suave ao passar o mouse */
}

.card-custom:hover {
    transform: translateY(-5px); /* Efeito "levantar" ao passar o mouse */
}
.card-header {
    background-color: #d97b9c; /* Rosa KW - Martins */
    color: white; /* Texto branco */
    border-bottom: 1px solid #d97b9c; /* Para manter consistência caso o card-header tenha borda */
}
.card-body {
    background-color: white; /* Fundo branco */
    color: black; /* Texto preto */
}
.card-title {
    color: #23272b; /* Preto mais suave para o título, se necessário */
}

/* Efeito Suave de Rolagem */
html {
    scroll-behavior: smooth;
}

/* Efeito na imagem da spalsh screen */
#spinner-splash {
    animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Melhorias na Navegação */
.navbar-custom {
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-custom a.nav-link {
    transition: color 0.3s ease;
}

.navbar-custom a.nav-link:hover, .navbar-custom a.nav-link:focus {
    color: #fff;
    background-color: transparent;
    padding-bottom: 3px;
    border-bottom: 2px solid #fff;
}

/* Estilos para Botões */
.btn {
    border-radius: 50px;
    padding: 10px 30px;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn:hover, .btn:focus {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: scale(1.05);
}

/* Animação de FadeIn para as Seções */
@keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0);
        opacity: 0;
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

.card-custom, .testimonial, .faq {
    animation: fadeInUp 0.8s ease-out;
    visibility: visible;
}

.frame-image {
    object-fit: cover;
    margin-bottom: 20px;
    height: 500px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.frame-depoimento {
    object-fit: cover;
    margin-bottom: 20px;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar{
    button[aria-expanded="true"] > span.close {
        display: inline;
        color: #fff;
        opacity: 1;
    }

    button[aria-expanded="true"] > span.navbar-toggler-icon {
        display: none;
    }

    button[aria-expanded="false"] > span.close {
        display: none;
    }
}

.navbar-toggler-icon {
    background-color: #d97b9c;
    padding: 2px;
    border-radius: 5px;
}

a {
    color: black;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.content {
    flex: 1;
}

.footer {
    background-color: #f8f9fa;
    color: #212529;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #dee2e6;
    bottom: 0;
    width: 100%;
}

#article {
    padding: 10px;
}

/* Estilo para a tabela */
.table {
    width: 100%;
}

/* Estilo para as células da tabela */
.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

/* Estilo para as células do cabeçalho da tabela */
.table th {
    background-color: #f2f2f2; /* Cor de fundo para o cabeçalho */
    color: #333; /* Cor do texto para o cabeçalho */
    font-weight: bold; /* Texto em negrito */
    border: 1px solid #000000; /* Borda vermelha */
}

/* Estilo para as linhas pares da tabela */
.table tbody tr:nth-child(even) {
    background-color: #ededed; /* Cor mais escura para linhas pares */
}

/* Estilo para as linhas ímpares da tabela */
.table tbody tr:nth-child(odd) {
    background-color: #ffffff; /* Cor de fundo padrão para linhas ímpares */
}

/* Estilo para o hover das células */
.table tbody tr:hover td {
    background-color: #f5f5f5; /* Cor de fundo quando o mouse passar sobre a célula */
    transition: background-color 0.3s ease; /* Transição suave para o efeito de brilho */
}

.gdpr-consent-container {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(136, 136, 138, 0.90);
    color: #333;
    z-index: 1000;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}

.gdpr-consent-content p {
    margin: 0 20px 0 0;
    font-size: 14px;
}

.gdpr-consent-content a {
    color: #0066cc;
}

#accept-gdpr {
    padding: 5px 10px;
    background-color: #008000;
    color: white;
    border: none;
    cursor: pointer;
}

#accept-gdpr:hover {
    background-color: #006600;
}


/* Layout base do contêiner do blog */
#blog {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

/* Botão para toggle do menu */
#menu-toggle {
    display: none; /* Inicialmente escondido em desktops */
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
}

/* Estilização do menu de artigos */
#menu {
    width: 240px; /* Largura fixa para o menu */
    background: #f4f4f4; /* Cor de fundo para o menu */
    padding: 20px;
    box-sizing: border-box; /* Garante que o padding não adicione largura ao elemento */
    height: 100vh; /* Altura total da janela de visualização */
    overflow-y: auto; /* Adiciona rolagem se o conteúdo for muito longo */
}

/* Home */

.service-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 30px;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    border: 1px solid #e2e2e2
}

.service-card::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(255, 182, 193, 0.4) 0%, rgba(255, 255, 255, 0) 55%);
    transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    pointer-events: none;
    z-index: 1;
}

.service-card:hover::before {
    top: 150%;
    left: 150%;
}

.service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

.service-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.service-card p {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
}

.service-card footer {
    margin-top: 15px;
    text-align: center;
    font-style: italic;
    color: #999;
}

/* Links do menu */
.menu-link {
    display: block;
    margin: 10px 0;
    color: #0077cc;
    text-decoration: none;
}

.menu-link:hover {
    text-decoration: underline;
}


/* Área principal para exibir o artigo */
#article {
    flex-grow: 1; /* Faz com que o artigo preencha o espaço restante */
    padding: 20px;
    overflow-y: auto; /* Adiciona rolagem se o conteúdo for muito longo */
}

/* Estilo específico para a mensagem de boas-vindas */
#welcome {
    padding: 20px;
    background-color: #e8e8e8;
    border-radius: 10px;
}

/* Media Queries para responsividade */
/* Media Queries */
@media (max-width: 768px) {
    #menu-toggle {
        display: block; /* Mostra o botão em telas pequenas */
        position: absolute; /* Posiciona sobre o layout */
        top: 50px;
        left: 10px;
        z-index: 1000; /* Garante que fique sobre outros elementos */
    }

    #menu {
        width: 100%; /* Toma a largura total em mobile */
        position: fixed; /* Fica fixo enquanto a tela rola */
        top: 0;
        left: 0;
        transform: translateX(-100%); /* Começa fora da tela */
        height: 100%; /* Altura total */
    }

    #menu.open {
        transform: translateX(0); /* Move para a tela quando aberto */
    }

    #article {
        padding: 15px;
        margin-top: 50px; /* Espaço para o botão do menu */
    }
}


/* Estilo para o botão de fechar */

.trabalhos {
    text-align: center;
}

.galeria-trabalhos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.trabalho {
    flex: 1 1 calc(33% - 40px);
    box-sizing: border-box;
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: #fff;
    margin-bottom: 20px;
}

.trabalho img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.trabalho p {
    text-align: left;
    font-size: 14px;
    color: #333;
    margin-top: 10px;
}

.trabalho:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .trabalho {
        flex: 1 1 calc(50% - 40px);
    }
}

@media (max-width: 480px) {
    .trabalho {
        flex: 1 1 calc(100% - 40px);
    }
}

/* Redes sosciais na home */

.redes-sociais {
    text-align: center;
    margin-top: 40px;
}

.redes-sociais h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-links .nav-link {
    font-size: 24px;
    color: inherit;
    transition: transform 0.3s;
}

.social-links .nav-link:hover {
    transform: scale(1.2);
}

#depoimentos {
    background-color: rgba(0, 0, 0, 0.75);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: block;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 20px 0 0 0;
    border-radius: 15px;
    margin: 0;
}

#depoimentos p {
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    margin-top: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#depoimentos img {
    width: 75px !important;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}

.whatsapp-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
    border-radius: 25px;
    padding: 15px 20px;
    background-color: #ffffff66;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    text-decoration: none;
}

.kw-font {
    font-family: 'Gabriola', sans-serif;
}



.logo-container {
    display: inline-block;
    text-align: center;
    margin: 20px;
}

.logo {
    width: 300px;
}

.logo-text {
    font-family: 'Gabriola', sans-serif;
    font-size: 3em;
    color: #000;
}

.kw {
    font-family: 'Gabriola', sans-serif;
    font-size: 30px;
    color: #fff;
    background-color: #ee2571;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 0px auto;
}

.logo-subtext {
    font-family: 'Gabriola', sans-serif;
    font-size: 1.5em;
    color: #ee2571;
}




.carousel-item {
    position: relative;
}

.carousel-item-header {
    position: relative;
    width: 100vw;
    height: calc(100vh - 72px); /* Ajusta a altura do banner considerando a navbar */
}

.img-banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-float-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 20px;
}

.header-float-bottom {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 80%;
    text-align: center;
}

.header-float-bottom-inverse {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    color: #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 80%;
    text-align: center;
}

@media (max-width: 768px) {
    .header-float-bottom {
        width: 90%;
    }
}

.header-float-top h1 {
    font-size: 3em;
    margin-bottom: 20px;
}